main{
    margin-top:10px;
}
header{
    background-color: burlywood;
}
header h1 {
    margin: 0 10px;
    font-family: 'Kite One', sans-serif;
    font-size: 65px;
  }
header nav {
    display: flex;
    justify-content: center;
}
header nav ul{
    display: flex;
    padding-left: 0;
    list-style: none;
}
header nav ul li a{
    color:black;
    border-radius: 100px;
    border-right: 2px solid black;
    padding: 5px 5px;
    margin-right: 10px;
    margin: 0 20px 0 0;
    font-family: 'Kite One', sans-serif;
    font-size: 24px;
}
header nav ul li:last-child a{
    margin-right: 0;
}
  main h2 {
    margin: 18px 0 12px 0;
    font-family: 'Kite One', sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: burlywood;
  }
  main h3 {
    margin: 18px 0 12px 0;
    font-family: 'Kite One', sans-serif;
    font-size: 24px;
    text-align: center;
    background-color: burlywood;
  }
  main p {
    font-family:'Kite One', sans-serif;
    margin-top: 0;
    font-size:18px;
  }
  article{
      display: block;
      margin-bottom: 60px;
      width: 100%;
  }

main article {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-position: inside;
    border-radius: 10px; 
}
#bg-callout{
    background-color: burlywood;
}
main article section h3 {
    text-align: center; 
    margin-bottom: 0;
   text-decoration:underline;
}
main article section ul li{
    text-align: center; 
    font-family:'Kite One', sans-serif;
    margin-left: -50px;
}
form{
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 10px;
    text-align: center;
}
button{
    margin-top: 10px;
    margin-left: 220px;
    width:50px;
}
textarea{
    width:50%;
    height:100px;
    margin-top: 10px;
}
.item{
    flex:1;
    margin:10px;
}
.item2 img{
  border-radius:10%;
}

.item-double {
    flex: 2;
    margin:10px;
  }
  .group{
    display: flex;
    justify-content: center;
  flex-direction: column;  
}
.group img {
    width: 100%;
  }

   
   @media all and (min-width: 800px) {
     section, h1 {
         padding: 0 10%;
       }
       header {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
      }
      header h1 {
        font-size: 42px;
        margin: 14px 0;
        padding-top: 6px;
      }
      header nav {
        margin-top: 14px;
      }
       .group {
         flex-direction: row;
       }
   }
   